html, body {
    overflow: hidden;
  }
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; /* Takes the full height of the viewport */
}
#main-center-content-img {
    width: 100%;
    height: 100%;
    z-index: -1;
  }
header, footer {
    flex: 1; /* Distributes space equally among children */
}

main {

    flex: 10;
    display: flex;
    flex-direction: column;

}


a{
    text-decoration: none;
    color: whitesmoke; 
}

header{
    display: flex;
    min-height: 70px;
    background-color: black;
    justify-content :first baseline;   
    align-items: center;
    height: 85px;
    padding: 10px;
}



.logo{
    display: flex;
    align-items: center;

}

.logo img{
    height: 70px;
    align-items: center;

}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: rgb(41, 119, 62);
    
}

header .btn button{
    font-weight: 700;
    color: rgb(15, 0, 0);
    padding: 9px 25px;
    background:#f7df35;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

header .btn button:hover{
    background-color: rgb(41, 119, 62);
    color: white;
    transform: scale(1.1);
}

header .btn button:click{
    background-color: rgb(41, 119, 62);

}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    };
    
}


header {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#left-nav {
    flex: 1;
    text-align: left;
}

#center-nav {
    flex: 2;
    text-align: center;
}

#right-nav {
    flex: 1;
    text-align: right;
}

.nav-link {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
}

.btn button {
    background-color: yellow;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer {

    background-color: #ede90d;
    width: 100%;
    height: 100%;

}

footer {
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: black;
}
#footer-content {
    margin: 20px;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
}